<!DOCTYPE html>
<html>
  <head>
    <title>21 Savage Fan Site</title>
     <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
    /> 
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Domine&family=Kalam&family=Luxurious+Roman&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <div >
        <h1 class="run">RUN TRACKER</h1>    

        <a class="btn" href="/login" class="btn btn-default"
          ><span class="fa fa-user"></span>Login</a
        >
        <a class="btn" href="/signup" class="btn btn-default"
          ><span class="fa fa-user"></span>Signup</a
        >
      </div>
    </div>
  </body>
</html>
